[user]
	name = Awais Memon
	email = awaismemon26@gmail.com
	signingkey = 4C866CDFFECB83A4C5B1DC7D59EC3FD1B62807CE
[merge]
	tool = opendiff
[diff]
	tool = vscode
[difftool]
	prompt = false
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[core]
	editor = code --wait
[commit]
	gpgsign = true
[gpg]
	program = gpg
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[pull]
	rebase = true
