#####################################################################################################
#                                                ALIASES
#####################################################################################################

# for navigation
alias home="cd ~"

# terraform
alias tf="terraform"

# terragrunt
alias tg="terragrunt"

# Git
alias gitfilesearchincommits="git log --all --full-history --"

# testing image
alias kubectlshell="kubectl run -i --tty --rm --image praqma/network-multitool test-shell -- /bin/bash"